body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

.higlight-color {
    color: orange
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.half-width img {
    width: 80%;
   
}

.food-description-style {
    text-align: left;
    padding: 3%;
    color: rgb(73, 73, 73);
}

.link-button {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background: linear-gradient(90deg, orange, tomato);
    border-radius: 50px;
    margin-top: 50px;
    position: absolute;
}

.background-frame {
    background-image: url(images/shapes/bg-frame.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-recipies{
   display: block;
   width: 50%;
   margin: auto;
   margin-top: 5%;
    text-align: center;
}

.my-recipies-item{
    width: 22%;
    height: auto;
    margin-left: 6%;
    margin-top: 3%;
    border: 5px solid white;
    box-shadow: 1px 1px 25px lightgray;
    border-radius: 20px;
    padding: 1%;
}

.my-recipies-item img{
    width: 100%;
    border-radius: 20px;
   
}

.my-recipies-item:hover{
    border: 5px solid;
    border-image: linear-gradient(tomato, orange);
    border-radius: 20px;
    border-image-slice: 10;
    
}

.achievement{
    display: flex;
    padding: 20px;
    box-shadow: 2px 2px 25px lightgray;
    margin: 90px;
    border-radius: 20px;
}

.achievement-criteria{
    width: 30%;
    margin-left: 10%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
footer p{
    font-size: small;
}